//block Modal Video
#videoModal.c-modal(tabindex='-1' role='dialog' aria-labelledby='' aria-hidden='true')
    .c-modal__dialog(role='document')
        .c-modal__content
            .c-modal__header
                h5#videoModalLabel.c-modal__title Our story
                button.c-close(type='button' data-dismiss='modal' aria-label='Close')
            .c-modal__body
                .video-container
                    #player.video
            .c-modal__footer
                button.c-button(type='button' data-dismiss='modal' aria-label='Close') Close
//end block Modal Video