//block Our Story
section.c-story#about
    .c-story__top
        .container
            .c-story__logo
                +picture('general/','logo3d','png', 'logo3d', '','',$desktop,$tablet,$mobile)
            h2.c-story__title Our story
            .c-story__text
                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
                p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            a.c-button(href='') Learn more
    .c-story__video
        //.container
        a.c-play(href='' data-toggle='modal' data-target='#videoModal')
            .c-play__wrapper
                +icon('play')
            p.c-play__caption Watch our story
//end block Our Story