.c-footer {
    position: relative;
    padding-top: 69px;
    max-width: 1600px;
    min-height: 400px;//TODO
    margin-left: auto;
    margin-right: auto;
    background: url('../img/content/footer_bg.jpg') no-repeat center / cover;

    &::before {
        position: absolute;
        content: '';
        background-image: linear-gradient( 0deg, $black_rock 0%, $valhalla 100%);
        opacity: 0.851;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }

    &__wrapper {
        display: grid;
        grid-template-areas:
            'menu'
            'left'
            'center'
            'right'
            'copyright';
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        grid-row-gap: 50px;
    }

    &__left {
        grid-area: left;
    }

    &__logo {
        margin-bottom: 21px;
    }

    &__slogan {
        margin-bottom: 0;
        font-family: $main-font, Arial, sans-serif;
        font-size: 14px;
        line-height: 26px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: $white;
    }

    &__center {
        grid-area: center;
    }

    &__subtitle {
        margin-top: 0;
        margin-bottom: 27px;
        padding-top: 14px;
        font-family: $main-font, Arial, sans-serif;
        font-size: 15px;
        line-height: 26px;
        font-weight: 900;
        letter-spacing: 0.050em;
        color: $white;
        text-transform: uppercase;
    }

    &__address {
        margin-bottom: 12px;
        display: grid;
        grid-template-areas: 'iconaddress textaddress';
        grid-template-columns: min-content 1fr;
        grid-column-gap: 15px;

        & > * {
            align-self: flex-start;
        }

        &-icon {
            display: block;
            margin-top: 5px;
            grid-area: iconaddress;
        }

        &-text {
            grid-area: textaddress;
            font-family: $main-font, Arial, sans-serif;
            font-size: 14px;
            line-height: 26px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: 0.025em;
            color: $white;
        }
    }

    &__phone {
        display: grid;
        grid-template-areas: 'iconphone textphone';
        grid-template-columns: min-content 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 12px;

        & > * {
            align-self: flex-start;
        }

        &:hover {

            .c-footer__phone-text {
                color: $robins_egg_blue;
            }
        }

        &-icon {
            display: block;
            margin-top: 5px;
            grid-area: iconphone;
            -ms-grid-column: 1;
            -ms-grid-row: 1;
        }

        &-text {
            grid-area: textphone;
            -ms-grid-column: 3;
            -ms-grid-row: 1;
            font-family: $main-font, Arial, sans-serif;
            font-size: 14px;
            line-height: 26px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: $white;
        }
    }

    &__right {
        grid-area: right;

        .c-footer {
            &__subtitle {
                margin-bottom: 31px;
            }
        }
    }

    &__subscribe {
        display: grid;
        grid-template-areas: 'field btn';
        grid-template-columns: max-content min-content;
        grid-column-gap: 10px;
        margin-bottom: 27px;

        .c-form__field {
            grid-area: field;
            padding: 11px 20px;
            color: rgba(255,255,255, 0.5);
            border-color: rgba(255,255,255, 0.5);

            @include placeholder {
                color: 	rgba(255,255,255, 0.5);
            }
        }

        .c-button {
            grid-area: btn;
            min-width: 70px;
            width: 70px;
            height: 45px;
            padding: 0;
            background-color:  rgba(255,255,255, 0.5);
            border: none;
            border-radius: 0;

            &:hover {
                background: $robins_egg_blue;
            }
        }
    }

    &__menu {
        grid-area: menu;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .c-menu {

            &__item {
                &:first-of-type {
                    .c-menu__link {
                        padding-left: 0;
                    }
                }

                &:last-of-type {
                    .c-menu__link {
                        padding-right: 0;
                    }
                }
            }

            &__link {
                display: block;
                font-size: 14px;
                letter-spacing: 0.025em;
                padding-right: 0.8rem;
                padding-left: 0.8rem;
            }
        }
    }

    &__copyright {
        grid-area: copyright;
        margin-bottom: 0;
        font-family: $main-font, Arial, sans-serif;
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: $white;
    }

    .container {
        position: relative;
    }
}

.c-social-icons {
    display: grid;
    grid-template-areas: 'soc1 soc2 soc3 soc4 soc5 soc6';
    grid-template-columns: repeat(6, 35px);
    grid-template-rows: 1fr;
    grid-column-gap: 8px;

    &__item {

        &:nth-child(1) {
            grid-area: soc1;
        }

        &:nth-child(2) {
            grid-area: soc2;
        }

        &:nth-child(3) {
            grid-area: soc3;
        }

        &:nth-child(4) {
            grid-area: soc4;
        }

        &:nth-child(5) {
            grid-area: soc5;
        }

        &:nth-child(6) {
            grid-area: soc6;
        }
    }

    &__link {
        display: flex;
        width: 35px;
        height: 35px;
        border: 1px solid $white;
        border-radius: 50%;
        transition: all 0.5s ease;

        &:hover {
            border-color: $robins_egg_blue;
        }
    }

    &__img {
        display: block;
        margin: auto;
    }
}

@media (min-width:  $tablet) {
    .c-footer {

        &__wrapper {
            grid-template-areas:
                'left center right'
                'menu menu copyright';
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 50px;
        }

        &__menu {
            justify-content: flex-start;
        }

        &__copyright {
            justify-self: center;
        }
    }
}

@media (min-width:  $desctop) {
    .c-footer {

        &__right {
            padding-left: 9px;
        }

        &__copyright {
            justify-self: flex-end;
        }
    }
}