.c-team {
    position: relative;
    max-width: 1600px;
    padding-top: 65px;
    padding-bottom: 69px;
    margin-left: auto;
    margin-right: auto;
    background: url('../img/content/team_bg.jpg') no-repeat center / cover;
    min-height: 712px;//TODO

    &::before {
        content: '';
        background-image: linear-gradient( 0deg, $black_rock 0%, $valhalla 100%);
        opacity: 0.851;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 8px;
        font-family: $second-font, Arial, sans-serif;
        font-size: 22px;
        font-weight: 700;
        color: $white;
        letter-spacing: 0.050em;
        text-transform: uppercase;
    }

    &__subtitle {
        position: relative;
        padding-bottom: 18px;
        margin-top: 0;
        margin-bottom: 48px;
        font-family: $second-font, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: $alabaster1;
        letter-spacing: 0.075em;

        &::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            width: 50px;
            height: 2px;
            background: $white;
            opacity: 0.2;
        }
    }

    &__list {
        display: grid;
        grid-template-areas: 'c-team__card1'
                            'c-team__card2'
                            'c-team__card3'
                            'c-team__card4';
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content min-content;
        grid-gap: 20px;
        margin-bottom: 68px;
    }

    &__card {

        &:nth-child(1) {
            grid-area: c-team__card1;
            -ms-grid-column: 1;
            -ms-grid-row: 1;
        }

        &:nth-child(2) {
            grid-area: c-team__card2;
            -ms-grid-column: 2;
            -ms-grid-row: 1;
        }

        &:nth-child(3) {
            grid-area: c-team__card3;
            -ms-grid-column: 3;
            -ms-grid-row: 1;
        }

        &:nth-child(4) {
            grid-area: c-team__card4;
            -ms-grid-column: 4;
            -ms-grid-row: 1;
        }

        &-wrapper {
            display: flex;
            height: 229px;
            background: rgba(255,255,255,0.95);
        }

        &-photo {
            max-width: 100%;
            height: auto;
            margin: auto;
        }

        &-text {
            padding: 15px 18px 22px;
            border: 1px solid $iron;
        }

        &-name {
            margin-top: 0;
            margin-bottom: 4px;
            font-family: $main-font, Arial, sans-serif;
            font-size: 14px;
            font-weight: 900;
            color: $white;
            letter-spacing: 0.050em;
            text-transform: uppercase;
        }

        &-position {
            margin-top: 0;
            font-family: $main-font, Arial, sans-serif;
            font-size: 13px;
            font-weight: 300;
            color: $alabaster;
            letter-spacing: 0;
            text-transform: uppercase;
        }
    }

    &__text {
        margin-bottom: 25px;
        font-family: $main-font, Arial, sans-serif;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.050em;
        color: $concrete;
    }

    &__btn {
        width: 140px;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        position: relative;
        text-align: center;
    }
}

@media(min-width: $tablet) {

    .c-team {

        &__list {
            display: grid;
            grid-template-areas: 'c-team__card1 c-team__card2'
                                'c-team__card3 c-team__card4';
            grid-template-columns: 1fr 1fr;
            grid-template-rows: min-content min-content;
            grid-gap: 20px;
            margin-bottom: 68px;
        }

        &__card {

            &:nth-child(1) {
                grid-area: c-team__card1;
                -ms-grid-column: 1;
                -ms-grid-row: 1;
            }

            &:nth-child(2) {
                grid-area: c-team__card2;
                -ms-grid-column: 2;
                -ms-grid-row: 1;
            }

            &:nth-child(3) {
                grid-area: c-team__card3;
                -ms-grid-column: 1;
                -ms-grid-row: 2;
            }

            &:nth-child(4) {
                grid-area: c-team__card4;
                -ms-grid-column: 2;
                -ms-grid-row: 2;
            }
        }
    }
}

@media(min-width: $desctop) {

    .c-team {

        &__list {
            display: grid;
            grid-template-areas: 'c-team__card1 c-team__card2 c-team__card3 c-team__card4';
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: min-content;
            grid-gap: 20px;
            margin-bottom: 68px;
        }

        &__card {

            &:nth-child(1) {
                grid-area: c-team__card1;
                -ms-grid-column: 1;
                -ms-grid-row: 1;
            }

            &:nth-child(2) {
                grid-area: c-team__card2;
                -ms-grid-column: 2;
                -ms-grid-row: 1;
            }

            &:nth-child(3) {
                grid-area: c-team__card3;
                -ms-grid-column: 3;
                -ms-grid-row: 1;
            }

            &:nth-child(4) {
                grid-area: c-team__card4;
                -ms-grid-column: 4;
                -ms-grid-row: 1;
            }
        }
    }
}