.c-form {

    &__group {
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__field {
        width: 100%;
        min-height: 43px;
        padding: 12px 20px;
        font-family: $main-font, Arial, sans-serif;
        font-size: 14px;
        font-weight: 300;
        color: $ship_gray;
        letter-spacing: 0.050em;
        background: transparent;
        border-radius: 0;
        border: 1px solid rgba(65, 61, 75, 0.1);
        box-sizing: border-box;
        white-space: nowrap; /* Отменяем перенос текста */
        overflow: hidden; /* Обрезаем содержимое */
        text-overflow: ellipsis; /* Многоточие */

        @include placeholder {
            color: 	$ship_gray1;
        }
    }

    &__placeholder {
        position: absolute;
        top: 14px;
        left: 21px;
        font-family: $main-font, Arial, sans-serif;
        font-size: 14px;
        font-weight: 300;
        color: $ship_gray1;
        letter-spacing: 0.050em;
    }
}

@media (max-width: $tablet) {
    .c-form {
        &__one-of-two {
            display: block;

            & > * {

                &:nth-last-of-type(2) {
                    margin-bottom: 23px;
                }
            }
        }
    }
}