// ЦВЕТА
$white: #ffffff;
$black: #000000;

$robins_egg_blue: #00e0d0;
$shakespeare: #4aa3cc;
$black_rock:#09052f;
$valhalla: #311d5e;
$ship_gray: #413d4b;
$ship_gray1: rgba(65, 61, 75, 0.5);
$baltic_sea: #2f2d35;
$french_gray: #c6c4c9;
$mine_shaft: #333333;
$gallery: #ebebeb;
$alabaster: #fafafa;
$alabaster1: #f9f9f9;
$iron : rgba(215,215,217,0.5);
$concrete: #f3f3f3;
$nobel: #b6b6b6;
$silver_chalice: #a4a4a4;
$silver_chalice1: #a1a1a1;
$silver_chalice2: #acacac;
$gray: #8a8a8a;

// Favicon
$msapplication-TileColor: '';
$mask-icon: '';

// РАЗМЕРЫ
$baseFontSize: 15px;

$mobile: 320px;
$max-mobile: 767px;
$tablet: 768px;
$max-tablet: 991px;
$desctop: 992px;

// ШРИФТЫ
$main-font: 'Roboto';
$second-font: 'Playfair Display';
$yet-font: 'Hammersmith One';